.rowCss {
  justify-content: space-evenly;
  column-gap: 0.5rem;
}

.stylingMas {
  /* background: #f7c704; */
 background: #ff0101d9
}
.outerMost {
  /* background: #f7c704; */
 background: #cccccbb1
}
/* .stylingStrip{
    background: #048af7;
}
.stylingGenerateStrip{
    background: #048af7; 
 }   */

.fonty{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}